---
const {id} = Astro.props
const personalIformation = {
  name: "Carlos Vertiz",
  profesion: "Full Stack Developer",
  aboutMe: "As an engineer with extensive computer knowledge, I am constantly immersed in learning and training in new technologies. My experience spans both personal and third-party projects, where I have utilized a wide range of tools, including JavaScript, Python, and SQL, among others.",
  photo: "/myimagen.jpeg"
}
---


<section id = {id} class="flex flex-col items-center ">
  <div class="flex flex-col items-center text-center justify-center
              w-fit px-12 sm:px-30 md:px-40 lg:px-50 xl:px-60 my-20 
              bg-gray-950 py-5 rounded-full">
    <h1>{personalIformation.name}</h1>
    <h2>{personalIformation.profesion}</h2> 
  </div>
  <article class="flex flex-col items-center  gap-8 
                  max-w-5xl  hit-fit p-5 m-10 rounded-3xl
                  border.solid border border-indigo-800/80
                  bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]                  
                  md:flex-row md:px-10 md:gap-1 md:py-2 md:rounded-full
                  ">

    <picture class="px-10 max-w-md min-w-48 md:my-5" >
      <img class="rounded-full aspect-square " src = {personalIformation.photo} alt="My photo">
    </picture>
    
    <p class="text-pretty max-w-lg text-center md:text-left"> 
      {personalIformation.aboutMe}
    </p>
  </article>
</section>


