---
import EducationItem from "./EducationItem.astro"
const {id, data, section} = Astro.props
const educations = data.educations

interface Education {
  title: string;
  place: string;
  dateInt: string; 
  dateEnd: string; 
}
---

<section id={id} class="flex flex-col mx-5 items-center gap-5 mt-10 mb-10 max-w-screen-2xl sm:items-start scroll-mt-20">
  <h2 class="bg-gray-950 py-3 text-center rounded-3xl w-full border-dashed border border-indigo-500/30">{section}</h2>
  <div  class="flex flex-col gap-5 max-w-[650px] mt-5 sm:pl-5"> 
    {educations.map((education : Education) =>
      <EducationItem
      title={education.title}
      place={education.place}
      dateInt={education.dateInt}
      dateEnd={education.dateEnd}
    />
    )}
  </div>
</section>