---
interface Props {
	title: string;
  company: string;
  dateInt: string;
  dateEnd: string;
  tasks: Array<string>;
}

const { title, company, dateInt, dateEnd, tasks } = Astro.props;
---

<article class="bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]">
  <h3>{title}</h3>
  <h4>{company} | {dateInt} - {dateEnd}</h4>
  <ul class="list-disc mx-5 py-2">
    {tasks.map(task =>
    <li >
      {task}
    </li>
    )}
  </ul>
</article>