---

import ExperienceItem from "./ExperienceItem.astro";

const {id, data, section} = Astro.props
const experiences = data.experiences

interface Experience {
  title: string;
  company: string;
  dateInt: string; 
  dateEnd: string; 
  tasks: Array<string>
}

---

<section id = {id} class="flex flex-col mx-5 items-center gap-5 mt-20 mb-10 max-w-screen-2xl sm:items-start scroll-mt-20 " >
  <h2 class="bg-gray-950 py-3 text-center rounded-3xl w-full  border-dashed border border-indigo-500/30">{section}</h2>
  <div class="flex flex-col  gap-5 mt-5 sm:pl-5">
    {experiences.map((experience:Experience) =>
      <ExperienceItem
      title={experience.title}
      company={experience.company}
      dateInt={experience.dateInt}
      dateEnd={experience.dateEnd}
      tasks={experience.tasks}
    />
    )}
  </div>

</section>