---
import CVIcon from '../svg/CVIcon.astro'

import {HeaderMenu} from './HeaderMenu.jsx'
const {sections} = Astro.props

---

<header class="flex sticky top-0
              text-xs  py-2 px-5 w-full
              border.solid border border-indigo-800/80 border-t-0
              rounded-b-lg 
              bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]
              sm:justify-start sm:pr-8
              z-50
              ">
  <nav class="flex gap-5 w-full items-center sm:justify-start ">
    <div class="flex flex-row gap-5 items-center">
      <CVIcon />

     </a>
    </div >
    <div class = "hidden sm:flex sm:flex-row  sm:gap-3">
      <a class= " hover:text-indigo-800/80" href="#home">{sections.Home}</a>
      <div class="border-l border-indigo-800/80 my-1"></div>
      <a class= " hover:text-indigo-800/80" href="#experience">{sections.Experience}</a>
      <div class="border-l border-indigo-800/80 my-1"></div>
      <a class= " hover:text-indigo-800/80" href="#education">{sections.Education}</a>
      <div class="border-l border-indigo-800/80 my-1"></div>
      <a class= " hover:text-indigo-800/80" href="#skills">{sections.Skills}</a>
      <div class="border-l border-indigo-800/80 my-1"></div>
      <a class= " hover:text-indigo-800/80" href="#projects">{sections.Projects}</a>
    </div>
   <HeaderMenu sections ={sections} client:visible/>
  </nav>
</header>