---
import ProjectItem from "./ProjectItem.astro";
const {id, data, section} = Astro.props
const projects = data.projects

interface Projects {
  imagen: string;
  url: string;
  title: string; 
  technologies: Array<string>; 
}
---

<section id={id} class="flex flex-col mx-1 sm:mx-5 items-center gap-5 mt-10 mb-10 max-w-screen-xl scroll-mt-20">
  <h2 class="bg-gray-950 py-3 text-center rounded-3xl w-full border-dashed border border-indigo-500/30 z-0">{section}</h2>
  <div class="flex flex-row flex-wrap justify-center mt-5 gap-10">
    {projects.map((project : Projects) =>

    <ProjectItem 
      imagen = {project.imagen}
      url = {project.url}
      title = {project.title}
      technologies = {project.technologies}
      links = {project.links}/>
      
    )}
  </div>
</section>